<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EcoPack - Embalagens Sustentáveis para Alimentos</title>
  <link rel="stylesheet" href="../css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap"
    rel="stylesheet">

</head>

<body>
  <header>
    <div class="div_header">
      <img src="../imagens/Logo_EcoPack.jpg" alt="Logo EcoPack" class="logo">
      <h1>EcoPack</h1>
      <nav>
        <a href="#produtos">Produtos</a>
        <a href="#sustentavel">Sustentabilidade</a>
        <a href="#contato">Contato</a>
      </nav>
    </div>
  </header>

  <main>
    <div>
      <!-- Embalagens sustentáveis para um futuro melhor -->
      <section class="section_1">
        <h2 class="sub_titulo1">Sustentabilidade em cada Embalagem</h2>
      </section>
    </div>

    <section class="conteiner_intro">
      <h2>Na EcoPack, desenvolvemos embalagens sustentáveis com foco na qualidade e no respeito ao meio ambiente. Nossa
        missão é transformar o mercado de embalagens com alternativas que reduzem o impacto ambiental e promovem um
        <mark>consumo mais consciente.</mark>
      </h2>

      <img src="../imagens/img_direito.png" alt="">
    </section>

    <section>
      <div class="produtos">
        <h2 class="sub_titulo2">Nossos Produtos</h2>

        <div class="conteiner_cards">
          <div class="card">
            <img src="../imagens/img1.jpg" alt="Embalagem Kraft Tradicional" />
            <p class="descricao">Embalagem Kraft Tradicional<br><small>Ideal para alimentos secos. 100%
                biodegradável.</small></p>
          </div>

          <div class="card">
            <img src="../imagens/img2.jpg" alt="Embalagem Personalizada EcoPack" />
            <p class="descricao">Embalagem Personalizada EcoPack<br><small>Design sustentável com identidade visual da
                marca.</small></p>
          </div>

          <div class="card">
            <img src="../imagens/img3.jpg" alt="Embalagem Flexível Kraft" />
            <p class="descricao">Embalagem Flexível Kraft<br><small>Versátil e resistente. Perfeita para grãos e
                cafés.</small></p>
          </div>

          <div class="card">
            <img src="../imagens/img4.jpg" alt="Embalagem Verde Eco" />
            <p class="descricao">Embalagem Verde Eco<br><small>Produzida com pigmentos naturais. Totalmente
                compostável.</small></p>
          </div>
        </div>
      </div>
    </section>

  </main>
</body>

</html>